<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{page.title}} {% endif %}Hillsborough County Hackathon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=320,initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="scripts/vendor/modernizr.min.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </head>
    <body>
        <div class="hero-unit">
            <div class="nav_wrapper">
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/mission">Mission</a></li>
                        <li><a href="/sponsors">Sponsors</a></li>
                        <li><a href="/judging">Judging</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <h1><span class="w0"><span class='dash'></span> 2013</span><span class='dash'></span> <br />
                <span class="w3">Hillsborough</span><br />
                <span class="w3">Hackathon</span></h1>
            <h2>April 12, 13, &amp; 14</h2>
            <div class="signup">
                <h3>Tickets coming soon. Sign up to know when they are available.</h3>
                <form action="http://eyesonmars.us6.list-manage.com/subscribe/post" method="POST">
                <input type="hidden" name="u" value="675b04eff95090c011a1e11a5" style="-webkit-appearance: none;">
                <input type="hidden" name="id" value="1e623d4e51" style="-webkit-appearance: none;">
                <input class="email" placeholder="ENTER YOUR EMAIL" name="MERGE0"></input>
                <button id="register">SIGN UP</button>
                </form>
                <button id="sponsor_join">SPONSOR</button>
            </div>

        </div>
        <div class="wrapper index">
            <div class="container">
                 {{ content }}  
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <a href="http://www.hillsboroughcounty.org/" class="logo big"><img alt="Hillsborough County" src="assets/images/hillsborough-logo-text.jpg" /></a>
            </div>
            <div class="row">
                <a href="http://www.facebook.com/createchusf" class="logo"><img alt="Createch at USF" src="assets/images/createch-logo-black.png" /></a>
                <a href="http://usf.edu/" class="logo"><img alt="University of South Florida" src="assets/images/usf-logo.png" /></a>
                <a href="http://www.hccfl.edu/" class="logo"><img alt="Hillsborough Community College" src="assets/images/hcc-seal-logo.jpg" /></a>
                <a href="http://citizinvestor.com/" class="logo"><img alt="Citizenvestor" src="assets/images/citizinvestor-logo.png" /></a>
            </div>
            <div class="bottom_text">A Thien-Bach Huynh &amp; Luqmaan Dawoodjee Productions</div>
        </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery.min.js"><\/script>')</script>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>