<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{page.title}} | {% endif %}Hillsborough County Hackathon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=320,initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="../assets/css/main.css">
        <script src="../assets/js/modernizr.min.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':4000/livereload.js?snipver=1"></' + 'script>')</script>

    </head>
    <body>
        <div class="hero wrapper">
            <div class="content small">
                <div class="nav_wrapper">
                    <div class="nav" style="opacity:1; margin-top:20px;">
                      <ul>
                        {% for order in (1..6) %}
                          {% for p in site.pages %}
                            {% if p.order == order %}
                              <li>
                                <a {% if p.url == page.url %}class="active"{%endif %} href="{{p.url}}">
                                   {{p.title}}
                                </a>
                              </li>
                            {% endif %} 
                         {% endfor %}
                      {% endfor %}
                         <!-- tsk tsk luqmaan :P {% assign pages_list = site.pages %}
                          {% assign group = 'navigation' %}
                          {% include pages_list %} -->
                     </ul>
                    </div>
                  <!--   <a href="/" class="logo">
                        <h1 class="small">
                            <span class="w0"><span class='dash'></span> 2013</span><span class='dash'></span> <br />
                            <span class="w3">Hillsborough</span><br />
                            <span class="w3">Hackathon</span>
                        </h1>
                    </a> -->
                </div>
                <h1 class="title" style="margin-top:50px;">{% if page.fancytitle %} {{ page.fancytitle }} {% else %} {{ page.title }} {% endif %}</h1>
                <div class="teaser_wrapper"><p class="teaser">{{page.teaser}}</p></div>
            </div>
        </div>
        <div class="main wrapper single">
            <div class="container">
                <div class="content">
                     {{ content }}  
                 </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <a href="http://www.hillsboroughcounty.org/" class="logo big"><img alt="Hillsborough County" src="../assets/images/hillsborough-logo-text.jpg" /></a>
            </div>
            <div class="row">
                <a href="http://www.facebook.com/createchusf" class="logo"><img alt="Createch at USF" src="../assets/images/createch-logo-black.png" /></a>
                <a href="http://usf.edu/" class="logo"><img alt="University of South Florida" src="../assets/images/usf-logo.png" /></a>
                <a href="http://www.hccfl.edu/" class="logo"><img alt="Hillsborough Community College" src="../assets/images/hcc-seal-logo.jpg" /></a>
                <a href="http://citizinvestor.com/" class="logo"><img alt="Citizenvestor" src="../assets/images/citizinvestor-logo.png" /></a>
                 <a href="http://ut.edu/" class="logo"><img alt="University of Tampa" src="../assets/images/ut.jpg" /></a>
            </div>
            <div class="bottom_text">A Thien-Bach Huynh &amp; Luqmaan Dawoodjee Productions</div>
        </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../scripts/vendor/jquery.min.js"><\/script>')</script>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=456587994353840";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
</html>